.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}